name: CI/CD Pipeline

on: push

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pylint pytest

      - name: Run tests
        env:
          PYTHONPATH: ${{ github.workspace }}
        run: pytest -q

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/devops-project:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/devops-project:latest

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "Pulling new image..."
            docker pull ${{ secrets.DOCKER_USERNAME }}/devops-project:latest
          
            echo "Removing any existing container named webapp..."
            docker ps -aq --filter "name=^webapp$" | xargs -r docker rm -f
          
            echo "Starting new container..."
            docker run -d --restart unless-stopped --name webapp -p 80:5000 ${{ secrets.DOCKER_USERNAME }}/devops-project:latest
#            docker run -d --name webapp -p 443:5000 ${{ secrets.DOCKER_USERNAME }}/devops-project:latest # For HTTPS

            echo "Done. Running containers:"
            docker ps